html {
    color: fuchsia;
    background-color: transparent;
}

h1 {
    font-family : inherit;
    color: darkseagreen;
}

p {
    color: thistle;
    background-color: bisque;
}

.cis-260 {
    color: darkgoldenrod;
}
body {
    color: olive;
    background-color: beige;
}
a {
    color: darkred;
}
.test {
    background-color: darkcyan;
}

.trythis {
    color: navajowhite;
}
.ahoy {
    background-color: greenyellow;
}
#anger {
    color: #FF0000;
    font-size: 2em;
    font-style: italic;
}