html {
    color: fuchsia;
    background-color: transparent;
}

h1 {
    font-family : inherit;
    color: darkseagreen;
}

p {
    color: thistle;
    background-color: bisque;
}
body {
    color: olive;
    background-color: beige;
}
a {
    color: darkred;
}